# Export QantAQ sensor data

In [1]:
import xarray as xr
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
home_path = "/gws/nopw/j04/duicv/yuansun/"

In [2]:
start_time = pd.Timestamp('2022-01-01 00:00:00')
end_time = pd.Timestamp('2022-12-31 23:00:00')
station_name = 'sensor'

# Observation

In [3]:
meta = pd.read_csv('/gws/nopw/j04/duicv/yuansun/manchester/sensor/meta_data/meta_data_final_for_analyse.csv')
meta
#meta[['sn', 'analyse_start_time']]

,sn,start_time,end_time,lat,lon,TB notes,Still active,data_start_time,data_end_time,analyse_start_time,analyse_end_time
0,MOD-PM-00097,2021-01-12 05:20:00,2024-01-15 11:56:00,53.484020,-2.270676,NaN,No,2021-02-01 16:31:00,2024-01-15 11:56:00,2022-08-11 12:57:14,2024-01-15 11:56:00
1,MOD-PM-00342,2021-09-08 15:26:00,2024-06-07 20:36:00,53.504016,-2.217164,Delete data prioir to the 19th of April 2023,No,2021-09-08 20:59:00,2024-06-07 20:36:00,2023-04-19 12:27:34,2024-06-07 20:36:26
2,MOD-PM-00343,2021-09-08 15:28:00,2024-06-07 20:38:00,53.484843,-2.232818,NaN,No,2021-09-08 20:22:00,2024-06-07 20:38:00,2023-02-01 10:51:32,2024-06-07 20:38:02
3,MOD-PM-00348,2021-09-08 15:36:00,2024-06-07 20:38:00,53.467837,-2.257569,NaN,No,2021-09-08 20:27:00,2024-06-07 20:38:00,2022-07-13 12:27:27,2024-06-07 20:38:16
4,MOD-PM-00349,2021-09-08 15:38:00,2024-09-22 09:34:00,53.510109,-2.243550,TB location,Yes,2021-09-08 20:37:00,2024-09-13 15:42:00,2023-02-01 12:16:35,2024-08-31 23:59:59
5,MOD-00036,2021-12-05 10:59:00,2024-09-22 09:21:00,53.449677,-2.184382,Matthews Lane,Yes,2022-02-18 13:45:00,2024-09-13 15:56:00,2023-01-10 18:10:14,2024-08-31 23:59:59
6,MOD-00038,2021-12-05 11:09:00,2024-09-22 09:30:00,53.481630,-2.226486,NaN,Yes,2022-02-18 13:57:00,2024-09-13 15:42:00,2022-02-18 13:57:04,2024-08-31 23:59:59
7,MOD-00039,2021-12-05 11:13:00,2024-09-22 09:27:00,53.483410,-2.255110,NaN,Yes,2022-02-27 20:29:00,2024-09-13 15:44:00,2022-06-16 10:32:18,2024-08-31 23:59:59
8,MOD-00043,2021-12-05 11:25:00,2024-09-22 09:29:00,53.489555,-2.233949,Angel Medows,Yes,2022-02-17 23:25:00,2024-09-13 15:54:00,2023-04-05 19:00:00,2024-08-31 23:59:59
9,MOD-PM-00426,2021-12-11 17:58:00,2024-07-28 10:23:00,53.540177,-2.650876,NaN,No,2021-12-11 18:37:00,2024-07-28 10:23:00,2022-07-13 10:40:25,2024-07-28 10:23:10
10,MOD-PM-00427,2021-12-11 18:16:00,2023-08-13 08:46:00,53.480821,-2.232823,NaN,No,2021-12-13 22:04:00,2023-08-13 08:46:00,2022-02-21 14:55:39,2023-08-13 08:46:02
11,MOD-PM-00429,2021-12-11 18:27:00,2022-09-05 23:55:00,53.561800,-2.409304,NaN,No,2021-12-13 22:12:00,2022-09-05 23:55:00,2022-05-05 10:12:03,2022-09-05 23:55:02
12,MOD-PM-00430,2021-12-11 18:35:00,2024-09-22 09:32:00,53.442647,-2.218526,NaN,Yes,2021-12-13 22:08:00,2024-09-13 15:55:00,2022-08-10 09:49:23,2024-08-31 23:59:59
13,MOD-PM-00431,2021-12-11 18:39:00,2023-10-10 12:45:00,53.482414,-2.233307,NaN,No,2021-12-13 22:12:00,2023-10-10 12:45:00,2022-02-21 14:22:53,2023-10-10 12:45:01
14,MOD-PM-00432,2021-12-11 18:40:00,2024-06-07 20:39:00,53.528858,-2.654849,NaN,No,2021-12-13 22:18:00,2024-06-07 20:40:00,2022-07-13 09:40:10,2024-06-07 20:40:08
15,MOD-PM-00433,2021-12-11 18:43:00,2024-06-07 20:37:00,53.465972,-2.297091,NaN,No,2021-12-13 22:20:00,2024-06-07 20:37:00,2022-04-25 11:45:04,2024-06-07 20:36:44
16,MOD-PM-00434,2021-12-11 18:44:00,2024-06-07 20:42:00,53.562899,-2.451906,NaN,No,2021-12-13 21:41:00,2024-06-07 20:42:00,2022-05-05 08:38:40,2024-06-07 20:41:32
17,MOD-PM-00435,2021-12-11 18:46:00,2024-09-04 17:26:00,53.484499,-2.240141,NaN,No,2021-12-13 21:39:00,2024-09-04 17:30:00,2022-02-21 14:15:14,2024-08-31 23:59:59
18,MOD-PM-00438,2021-12-11 19:05:00,2024-06-07 20:38:00,53.444258,-2.214418,NaN,No,2021-12-13 21:51:00,2024-06-07 20:38:00,2022-07-18 14:59:15,2024-06-07 20:38:03
19,MOD-PM-00439,2021-12-11 19:06:00,2024-06-07 20:39:00,53.590633,-2.295328,NaN,No,2021-12-13 21:53:00,2024-06-07 20:39:00,2023-07-04 08:13:35,2024-06-07 20:39:09
20,MOD-PM-00443,2021-12-11 19:18:00,2024-09-04 17:26:00,53.480521,-2.294574,NaN,No,2021-12-13 19:19:00,2024-09-04 17:26:00,2023-07-03 09:19:25,2024-08-31 23:59:59
21,MOD-PM-00444,2021-12-11 19:19:00,2024-06-07 20:36:00,53.468130,-2.230630,NaN,No,2021-12-13 19:30:00,2024-06-07 20:38:00,2022-12-29 08:50:16,2024-06-07 20:38:02
22,MOD-PM-00445,2021-12-11 19:20:00,2024-09-04 17:28:00,53.479278,-2.231890,NaN,No,2021-12-13 19:31:00,2024-09-04 17:28:00,2022-02-21 14:20:12,2024-08-31 23:59:59
23,MOD-PM-00446,2021-12-11 19:22:00,2024-06-07 20:43:00,53.537529,-2.080086,NaN,No,2021-12-13 19:09:00,2024-06-07 20:43:00,2022-10-04 09:00:34,2024-06-07 20:43:14
24,MOD-PM-00447,2021-12-11 19:23:00,2024-06-07 20:40:00,53.480516,-2.272237,NaN,No,2021-12-13 19:34:00,2024-06-07 20:41:00,2022-10-04 10:58:54,2024-06-07 20:41:24
25,MOD-PM-00454,2021-12-11 19:35:00,2024-06-07 20:40:00,53.444258,-2.214418,Manchester Supersite installed from 18th of Ju...,No,2021-12-14 15:06:00,2024-06-07 20:40:00,2022-07-18 15:00:00,2024-06-07 20:40:25
26,MOD-PM-00457,2021-12-11 19:40:00,2024-06-07 20:42:00,53.468781,-2.215723,NaN,No,2021-12-13 18:02:00,2024-06-07 20:44:00,2022-04-25 09:32:31,2024-06-07 20:43:33
27,MOD-PM-00458,2021-12-11 19:41:00,2024-06-07 20:45:00,53.480822,-2.247967,NaN,No,2021-12-13 18:13:00,2024-06-07 20:45:00,2022-04-25 13:37:11,2024-06-07 20:45:22
28,MOD-PM-00459,2021-12-11 19:43:00,2024-06-07 20:41:00,53.444258,-2.214418,Manchester Supersite installed from 18th of Ju...,No,2021-12-13 18:01:00,2024-06-07 20:41:00,2022-07-18 15:00:00,2024-06-07 20:40:39
29,MOD-PM-00460,2021-12-11 19:45:00,2024-06-07 20:38:00,53.478780,-2.109270,NaN,No,2021-12-13 18:15:00,2024-06-07 20:41:00,2022-04-25 10:34:31,2024-06-07 20:40:39
30,MOD-PM-00461,2021-12-11 19:47:00,2024-06-07 20:43:00,53.444258,-2.214418,Manchester Supersite installed from 18th of Ju...,No,2021-12-13 18:03:00,2024-06-07 20:43:00,2022-07-18 15:00:00,2024-06-07 20:43:27
31,MOD-PM-00464,2021-12-11 19:51:00,2024-09-22 09:28:00,53.479079,-2.232425,NaN,Yes,2021-12-13 18:20:00,2024-09-13 16:19:00,2022-01-31 16:20:24,2024-08-31 23:59:59
32,MOD-00273,2023-01-10 23:43:00,2024-09-22 09:32:00,53.487239,-2.231864,Thompson Street,Yes,2023-01-31 20:16:00,2024-09-13 16:18:00,2023-04-04 01:00:00,2024-08-31 23:59:59
33,MOD-00274,2023-01-10 23:49:00,2024-09-22 09:34:00,53.447508,-2.185023,Manor Road,Yes,2023-01-31 20:22:00,2024-09-13 16:17:00,2023-05-15 20:00:20,2024-08-31 23:59:59
34,MOD-00275,2023-01-10 23:55:00,2024-09-22 09:30:00,53.442097,-2.184762,Broom Lane,Yes,2023-01-31 20:19:00,2024-09-13 16:17:00,2024-01-18 16:18:41,2024-08-31 23:59:59
35,MOD-00494,2023-08-22 17:31:00,2024-09-22 09:31:00,53.443277,-2.261670,Wilbraham Road,Yes,2023-10-03 08:31:00,2024-09-10 10:07:00,2024-01-18 16:40:47,2024-08-31 23:59:59
36,MOD-00495,2023-08-22 17:34:00,2024-09-22 09:30:00,53.442040,-2.213508,Mosley Road,Yes,2023-10-03 08:26:00,2024-09-13 16:19:00,2024-01-18 16:25:49,2024-08-31 23:59:59

In [11]:
sensor_id = 'MOD-PM-00427'
meta_sensor = meta[meta['sn'] == sensor_id]
meta_sensor

,sn,start_time,end_time,lat,lon,TB notes,Still active,data_start_time,data_end_time,analyse_start_time,analyse_end_time
10,MOD-PM-00427,2021-12-11 18:16:00,2023-08-13 08:46:00,53.480821,-2.232823,NaN,No,2021-12-13 22:04:00,2023-08-13 08:46:00,2022-02-21 14:55:39,2023-08-13 08:46:02

In [12]:
df_sensor = pd.read_csv(f'{home_path}0_lcz_mcr/output_analysis/single_point/calibration/adjusted_sensor_data/{sensor_id}.csv')
df_sensor

,timestamp,rh_hourly_avg,temp_hourly_avg,hour,month,std_temp_bias,std_rh_bias,rh_hourly_avg_corrected,temp_hourly_avg_temp,temp_hourly_avg_corrected
0,2022-02-21 14:00:00,43.610000,17.060000,14,2,0.196525,-0.182844,51.583847,13.707289,13.707289
1,2022-02-21 15:00:00,39.354386,18.733860,15,2,0.191343,-0.178718,46.387718,15.149258,15.149258
2,2022-02-21 16:00:00,NaN,NaN,16,2,0.176080,-0.158543,NaN,NaN,NaN
3,2022-02-21 17:00:00,NaN,NaN,17,2,0.156802,-0.136305,NaN,NaN,NaN
4,2022-02-21 18:00:00,NaN,NaN,18,2,0.148477,-0.124433,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
12902,2023-08-13 04:00:00,69.300833,18.120500,4,8,0.094891,-0.126225,78.048342,16.401020,16.401020
12903,2023-08-13 05:00:00,71.079833,17.864667,5,8,0.098671,-0.129925,80.314902,16.101951,16.101951
12904,2023-08-13 06:00:00,69.334000,18.298000,6,8,0.122027,-0.159611,80.400457,16.065159,16.065159
12905,2023-08-13 07:00:00,66.494167,19.182167,7,8,0.137640,-0.205503,80.158903,16.541939,16.541939
12906,2023-08-13 08:00:00,59.706596,20.433191,8,8,0.140097,-0.215920,72.598457,17.570570,17.570570

In [13]:
df_sensor_clean = df_sensor[['timestamp', 'rh_hourly_avg_corrected', 'temp_hourly_avg_corrected']].copy()
df_obs = df_sensor_clean.rename(columns={'timestamp': 'time', 
                                         'rh_hourly_avg_corrected': 'RH',
                                         'temp_hourly_avg_corrected': 'TAS'})
df_obs['time'] = pd.to_datetime(df_obs['time'])
df_obs_sel = df_obs[(df_obs['time'] >= start_time) & (df_obs['time'] <= end_time)]
df_obs_sel.reset_index(drop=True, inplace=True)
df_obs_sel.to_csv(f'./data_for_figure/{station_name}_obs.csv', index=False)
df_obs_sel

                    time         RH        TAS
0    2022-02-21 14:00:00  51.583847  13.707289
1    2022-02-21 15:00:00  46.387718  15.149258
2    2022-02-21 16:00:00        NaN        NaN
3    2022-02-21 17:00:00        NaN        NaN
4    2022-02-21 18:00:00        NaN        NaN
...                  ...        ...        ...
7517 2022-12-31 19:00:00  93.899324   9.459280
7518 2022-12-31 20:00:00  93.965868   9.120794
7519 2022-12-31 21:00:00  92.233187   8.714747
7520 2022-12-31 22:00:00  92.049609   8.348432
7521 2022-12-31 23:00:00  91.544979   8.314447

[7522 rows x 3 columns]

In [14]:
lat = 53.484843	
lon = -2.232818
print(lat, lon)

53.484843 -2.232818

# GM_NOAH_SLUCM

In [6]:
ds_sim_sample = xr.open_dataset(f'{home_path}0_WRFvsWRF-CTSM/archive/d04_wrf/wrfout_d01_2021-12-25_00:00:00.nc')
model_lat = ds_sim_sample['XLAT'][0, :, 0].values
model_lon = ds_sim_sample['XLONG'][0, 0, :].values
lat_idx = np.abs(model_lat - lat).argmin()
lon_idx = np.abs(model_lon - lon).argmin()
print(lat_idx, lon_idx)

19 30

'\nlat_idx = 19\nlon_idx = 30\n'

In [ ]:
lat_idx = 19
lon_idx = 30